<%= link_to 'Home', products_path %>
<br />

<h1><%=@product.name.capitalize%></h1>

<h2>About this product</h2>
<p><%=@product.description%></p>

<p>Price: $<%=@product.pricing%></p>

<form id ="delete" action="<%="/products/#{@product.id}"%>" method="post">
	<input type="hidden" name="_method" value="delete" />
  	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" class="btn btn-success" value="Delete this product?" />
</form><br />

<button class="btn btn-default"><%= link_to 'Edit this product', edit_product_path %></button><br />



